@{
    ViewBag.Title = "Sign Out";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">You have successfully signed out. Shibboleth requires you to close this browser to remove its cookies.</p>
<br/>
<a href="/">Home</a>
